@import "../../../styles/breakpoints.module.scss";

swiper-container {
  width: 100%;
  height: 100%;
  display: none;

  @include respond-to(md) {
    display: flex;
  }

  swiper-slide {
    // max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .schoolsSwiper__image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
