@import "../../styles/breakpoints.module.scss";

.header {
  position: fixed;
  top: 0;
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  z-index: 3;
  transition: 0.2s background-color;

  @include respond-to(md) {
    justify-content: flex-start;
    background-color: #fff;
  }

  &--active {
    background-color: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  }
}
