@import "../../styles/breakpoints.module.scss";

.travelChoices {
  background-color: #fff;
  display: flex;

  &__grid {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    
  }
}
