@import "../../../styles/breakpoints.module.scss";

.headerNav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 10px;

  @include respond-to(md) {
    display: none;
  }

  .headerNav__item {
    position: relative;
    padding: 0 10px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    &--active {
      .headerNav__itemCaret {
        border-width: 0 8px 12px 8px;
      }
    }

    &:hover {
      .headerNav__itemText {
        opacity: 0.8;
      }

      .headerNav__itemCaret {
        opacity: 0.8;
      }
    }

    &Text {
      color: #4d4948;
      font-size: 16px;
      line-height: 50px;
      transition: 0.2s opacity;
    }

    &Caret {
      width: 0;
      height: 0;
      border: solid transparent;
      border-width: 12px 8px 0 8px;
      border-top-color: red;
      border-bottom-color: red;
      transition: 0.2s opacity;
    }
  }
}
